@import "tailwindcss";

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.error {
  background: red;
  font-size: 12px;
}

button {
  cursor: pointer;
}

label {
  display: block;
  width: 100%;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  border: 1px solid black;
  padding: 10px;
  height: 42px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 40px;
  min-width: 200px;
  cursor: pointer;
}

select option {
  cursor: pointer;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
