.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 8px;

  .title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .date{
    font-size: .8rem;
  }

  .wrapper_left {
    display: flex;
    align-items: end;
    gap: 20px;

    .member {
      font-weight: 500;
      font-size: .9rem;
    }
  }

  .wrapper_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .amount {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
